<!DOCTYPE html>
<html>

<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 

    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'toastr.js', :cache => 'myfiles' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="pr-wrap">
                        <div class="pass-reset">
                            <label>
                            Enter the email you signed up with</label>
                            <input type="email" placeholder="Email" />
                            <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                        </div>
                    </div>
                    <div class="wrap">
                        <p class="form-title">
                        App Fatturazione</p>
                        <div class="loginBox">
                            <input v-model="username" type="text" placeholder="Username" class="BasicInput"/> <br>
                            <input v-model="password" type="password" placeholder="Password" class="BasicInput"/><br>
                            <button v-on:click="primaryBtnAction" class="btn btn-success btn-sm loginBtn" >{{primaryBtntext}}</button> <br>
                            <p v-on:click="toggleMode" class="whiteText">{{secondaryBtntext}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</html>

<script>
    var app = new Vue({
      el: '#app',
      data: {
        username: '',
        password: '',
        secondaryBtntext: 'sign in',
        primaryBtntext: 'log in',
        loginMode: true
    },
    methods: {
        primaryBtnAction: function (event) {
            if(this.loginMode)
            {
                logIn(this.username + this.password);
                return;
            }

            signIn(this.username + this.password);
        },
        toggleMode: function (event) {
            this.loginMode = !this.loginMode;

            if(this.loginMode)
            {
                this.secondaryBtntext='sign in';
                this.primaryBtntext='log in';
                return;
            }

            this.secondaryBtntext='log in';
            this.primaryBtntext='sign in';
        }
    }
});

function logIn(username, password)
{
    axios({
            method: 'post',
            url: '/login',
            headers: {
            'Content-Type': 'application/json',
            'username': username,
            'password': password
        }
    })
    .then(function (response) {
        localStorage.setItem('user', JSON.stringify(response.data));
        GoToMainBoard();    
    })
    .catch(function (error) {
        toastr.warning('Username o password errati')
    });
}

function signIn(username, password)
{
    axios({
            method: 'post',
            url: '/signin',
            headers: {
            'Content-Type': 'application/json',
            'username': username,
            'password': password
        }
    })
    .then(function (response) {
        localStorage.setItem('user', JSON.stringify(response.data));    
        GoToMainBoard();    
    })
    .catch(function (error) {
        toastr.warning('Errore Durante la registrazione')
    });
}

function GoToMainBoard()
{
    window.location.href = "/dashboard";
}

</script>