<!DOCTYPE html>
<html>

<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 

    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'toastr.js','login_api_calls.js', :cache => 'myfiles' %>
    <%= stylesheet_link_tag    'application', 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wrap">
                        <p class="form-title-user">
                        App Fatturazione</p>
                        <div class="loginBox">
                            <input v-model="firstValue" type="text" :placeholder="firstValueText" class="BasicInputUser"/> <br>
                            <input v-model="secondValue" type="password" :placeholder="secondValueText" class="BasicInputUser"/><br>
                            <button v-on:click="primaryBtnAction" class="btn btn-success btn-sm loginBtn" >{{primaryBtntext}}</button> <br>
                            <p v-on:click="toggleMode" class="whiteText">{{secondaryBtntext}}</p>
                            <p v-on:click="toggleLoginType" class="whiteText">{{changeModeBtnText}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</html>

<script>
    var app = new Vue({
      el: '#app',
      data: {
        firstValue: '',
        secondValue: '',
        secondaryBtntext: 'sign in',
        primaryBtntext: 'log in',
        changeModeBtnText: 'Company area',
        firstValueText: 'username',
        secondValueText: 'password',
        loginMode: true,
        userMode: true
    },
    methods: {
        primaryBtnAction: function (event) {
            if(this.loginMode){
                if(this.userMode){
                    userLogIn(this.firstValue, this.secondValue);
                    return;
                }
                
                companyLogIn(this.firstValue, this.secondValue);
                return;
            }

            if(this.userMode){
                userSignIn(this.firstValue, this.secondValue);
                return;
            }

            companySignIn(this.firstValue, this.secondValue);
        },
        toggleMode: function (event) {
            this.loginMode = !this.loginMode;

            if(this.loginMode){
                this.secondaryBtntext='sign in';
                this.primaryBtntext='log in';
                return;
            }

            this.secondaryBtntext='log in';
            this.primaryBtntext='sign in';
        },
        toggleLoginType: function (event){
            this.userMode=!this.userMode;
            if(this.userMode){
                this.changeModeBtnText='Company area';
                this.firstValueText = 'username';
                this.secondValueText = 'password';
            }
            else{
                this.changeModeBtnText='User area';
                this.firstValueText = 'company name';
                this.secondValueText = 'vat number';
            }

            changeBackground(this.userMode);
        }
    }
});

function GoToMainBoard(type){
    if(type == 1){ //user view
        window.location.href = "/userMain";
        return;
    }
    if(type == 2){ // company view
        window.location.href = "/companyMain";//todo
        return;
    }

    //admin view
    window.location.href = "/userMain";//todo
}

function changeBackground(userMode){
    $('body').fadeTo('slow', 0.3, function(){
        if(!userMode){ // company mode
            $(this).css('background-image', "url('http://www.mineks.com/images/pages/22935city_scape5b.jpg')");
            $('.form-title-user').addClass("form-title-company");
            $('.form-title-user').removeClass("form-title-user");

            $('.BasicInputUser').addClass("BasicInputCompany");
            $('.BasicInputUser').removeClass("BasicInputUser");
            return;
        }

        $(this).css('background-image', "url('http://orig03.deviantart.net/618a/f/2009/035/3/8/apple_aqua_wallpaper_by_vista_os_x_user.jpg')");
        $('.form-title-company').addClass("form-title-user");
        $('.form-title-company').removeClass("form-title-company");

        $('.BasicInputCompany').addClass("BasicInputUser");
        $('.BasicInputCompany').removeClass("BasicInputCompany");

    }).delay(200).fadeTo('slow', 10);
}
</script>