<!doctype HTML>
<html>

<head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 'company', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://use.fontawesome.com/6ca3ee8528.js"></script>

</head>

<body>
    <div id="app" class="container-fluid"> 
        <h3>{{ company.company_name }} Dashboard</h3>
        <div class="container-fluid" id="wrapper-users">
            <div v-for="user in users">
                {{ user.username }} {{ sum }}
            </div>
        </div>
    </div>
    <%= javascript_include_tag 'application', 'companyMain','data-turbolinks-track': 'reload' %>
</body>

</html>