<!doctype HTML>
<html>

<head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 'company', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://use.fontawesome.com/6ca3ee8528.js"></script>

</head>

<body>
    


    <%= javascript_include_tag 'application', 'company','data-turbolinks-track': 'reload' %>
</body>

</html>