<!doctype HTML>
<html>

<head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', 'company', media: 'all', 'data-turbolinks-track': 'reload' %>


    <script src="https://use.fontawesome.com/6ca3ee8528.js"></script>
</head>

<body>
    <div id="app" class="container-fluid">
        <div class="container-fluid" id="wrapper-users">
            <h3>{{ company.company_name }} Dashboard</h3>
            <h4 id="isReady"style="display:none">Ready to go!</h4>
            <h4 id="isLoading">Loading</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Hours each day</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="user in users">
                        <td>
                            {{ user.username }}
                        </td>
                        <td>
                            <ul>
                            <li v-if="activity.user_id == user.id" v-for="activity in activities">
                                <span> 
                                    {{ parseInt(activity.end_time.split('T')[1].split(':')[0]) - parseInt(activity.start_time.split('T')[1].split(':')[0]) }}
                                    hours on {{ parseInt(activity.start_time.split('T')[0].split('-')[2]) }} / {{ parseInt(activity.start_time.split('T')[0].split('-')[1]) }} / {{ activity.start_time.split('T')[0].split('-')[0] }}
                                </span>
                            </li>
                            </ul>
                        </td>

                        <td v-for="activity in activities" style="display: none;">
                            {{ setSum(parseInt(activity.end_time.split('T')[1].split(':')[0]) - parseInt(activity.start_time.split('T')[1].split(':')[0])) }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <p style="float: right;">Total hours: {{ getSum() }}</p>
        </div>
    </div>

    
    <div id="pie"></div>


    <%= javascript_include_tag 'application', 'companyMain', 'pie_chart', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.2.3/css/dx.spa.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.2.3/css/dx.common.css" />
    <link rel="dx-theme" data-theme="generic.light" href="https://cdn3.devexpress.com/jslib/17.2.3/css/dx.light.css" />
    <script src="https://cdn3.devexpress.com/jslib/17.2.3/js/dx.all.js"></script>
</body>

</html>